// Canvas style to prevent canvas overflow when filling entire screen. This is needed because of normalize.css library that codepen uses.
canvas{display: block;}

// Prevent unwanted margins
*{margin: 0;padding: 0;}

// Test to check canvas fill screen
// body{background-color: #f60;}